/*
 * index.css
 */

/* 设定元素的 width 时，把元素的边界 border 和空白填充量 padding 考虑在内 */

div {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	font-size:3vw;
}

html,body {
	background-color:rgb(180,130,80);
	background-color:rgba(180,130,80,0.8);
	border:1px solid transparent;
	margin:0 auto;
	overflow:hidden;
}

.hyper_whiteboard {
	background-color:rgb(180,130,80);
	background-color:rgba(180,130,80,0.8);
	border:1px solid transparent;
	height:99vh;
	margin:0.5vh auto 0.5vh auto;
	width:99vw;
}

.global_view {
	background-color:rgb(240,220,180);
	background-color:rgba(240,220,180,0.9);
	border-radius:0.5vw;
	height:1vh;
	margin:2.1vh 35.5vw 0 35.5vw;
	width:28vw;
}

.focus_tracking_area {
	background-color:rgb(60,60,100);
	background-color:rgba(60,60,100,0.9);
	border-radius:0.5vw;
	box-shadow:1px 1px 1px 0 rgb(70,60,50);
	height:60vh;
	margin:6vh 3.5vw 0 3.5vw;
	width:92vw;
}

.left_link_cards_container {
	background-color:transparent;
	border-radius:0.5vw;
	float:left;
	height:57.33vh;
	margin:1.33vh 0 0 1vw;
	width:17.6vw;
}

.left_link_card {
	background-color:rgb(90,90,130);
	background-color:rgba(90,90,130,0.9);
	border-radius:0.5vw;
	box-shadow:1px 1px 1px 1px rgb(30,40,70);
	height:18.22vh;
	margin:0 0 1vh 0;
	text-align:center;
	width:17.6vw;
}

.focus_cards_container {
	background-color:transparent;
	border:1 solid transparent;
	border-radius:1vw;
	float:left;
	height:57.33vh;
	margin:1.33vh 0 0 1vw;
	width:52.8vw;
}

.focus_card {
	background-color:rgb(210,210,210);
	background-color:rgba(210,210,210,0.8);
	border-radius:1vw;
	box-shadow:1px 1px 1px 1px rgb(30,40,70);
	font-size:5vw;
	height:57.33vh;
	margin:0 0 0 0;
	text-align:center;
	width:52.8vw;
}

.right_link_cards_container {
	background-color:transparent;
	border-radius:1vw;
	float:left;
	height:57.33vh;
	margin:1.33vh 0 0 1vw;
	width:17.6vw;
}

.right_link_card {
	background-color:rgb(130,140,180);
	background-color:rgba(130,140,180,0.8);
	border-radius:0.5vw;
	box-shadow:1px 1px 1px 1px rgb(30,40,70);
	height:18.22vh;
	margin:0 0 1vh 0;
	text-align:center;
	width:17.6vw;
}

.left_link_card,.focus_card,.right_link_card {
	line-height:300%;
}

.ref_cards_container {
	background-color:rgb(200,190,170);
	background-color:rgba(200,190,170,0.7);
	border:1px solid rgb(135,135,135);
	border-radius:0.5vw;
	box-shadow:1px 1px 1px 0 rgb(70,60,50);
	height:22.7vh;
	margin:2.1vh 3.5vw 3vh 3.5vw;
	width:92vw;
}

